DATABASE_URL=postgresql://user:pass@localhost:5432/lms
PORT=3000
JWT_SECRET=supersecret
JWT_EXPIRES=1d

# Bunny Stream
BUNNY_STREAM_LIBRARY_ID=
BUNNY_API_KEY=

# Bunny Storage
BUNNY_STORAGE_ZONE=
BUNNY_STORAGE_HOST=storage.bunnycdn.com
BUNNY_STORAGE_API_KEY=

# Firebase Admin (JSON stringified)
FIREBASE_SERVICE_ACCOUNT_JSON=
